html,
    body {
      position: relative;
      height: 100%;
    }
    body {
      background: #eee;
      font-size: 14px;
      color: #000;
      margin: 0;
      padding: 0;
    }
    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      background: linear-gradient(rgb(112, 98, 88));
    }

    .swiper-slide #imgd {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .bgtext{
        position: absolute;
        margin-left: auto;
    }
    #p1d{
      color: black;
        height: 60px;
        font-size: 18px;
        font-family: 'Playfair Display', serif;
    }
    #p2d{
      color: black;
        height: 100px;
        font-size: 35px;
        font-family: 'Playfair Display', serif;
    }
    #btn1{
        width: 150px;
        height: 50px;
        background-color:skyblue ;
        color: white;
        letter-spacing: 2px;
        border: none;
    }
    #btn2{
        border: none;
        background-color:orange ;
        color: white;
        letter-spacing: 2px;
        height: 50px;
        width: 150px;
    }
    .swiper-slide #imgd{
        opacity: 0.6;
    }